@model DeTai

<form id="create-form">
    <div class="modal-header">
        <h5 class="modal-title">Thêm Mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label"> Mã Đề Tài</label>
            <input type="text" class="form-control" name="madt" required>
        </div>
        <div class="mb-3">
            <label class="form-label"> Tên Đề Tài</label>
            <input type="text" class="form-control" name="tendt" required>
        </div>
        <div class="mb-3">
            <label class="form-label"> Kinh Phí</label>
            <input type="number" class="form-control" name="kinhphi" required>
        </div>
        <div class="mb-3">
            <label class="form-label"> Nơi Thực Tập</label>
            <input type="text" class="form-control" name="noithuctap" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>