@model DeTai

<div class="modal-header">
    <h5 class="modal-title">Thông Tin</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> Mã Đề Tài :</div>
        <div class="col-sm-8 mb-4"><span id="Id"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> Tên Đề Tài :</div>
        <div class="col-sm-8 mb-4"><span id="Name"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Kinh Phí :</div>
        <div class="col-sm-8 mb-4"><span id="Fee"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Nơi Thực Tập :</div>
        <div class="col-sm-8 mb-4"><span id="Intern"></span></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
</div>