@model GiangVien

<div class="modal-header">
    <h5 class="modal-title">Thông Tin</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> ID :</div>
        <div class="col-sm-8 mb-4"><span id="Id"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> Họ Tên SV :</div>
        <div class="col-sm-8 mb-4"><span id="Name"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Tên Đề Tài :</div>
        <div class="col-sm-8 mb-4"><span id="Subject"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> GVHD :</div>
        <div class="col-sm-8 mb-4"><span id="Teacher"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Khoa :</div>
        <div class="col-sm-8 mb-4"><span id="Depart"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Kết Quả :</div>
        <div class="col-sm-8 mb-4"><span id="Score"></span></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
</div>