@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_Login";
}
<div class="container">
    <div class="loginbox">
        <div class="login-left">
            <img class="img-fluid" src="~/assets/img/login.png" alt="Logo">
        </div>
        <div class="login-right">
            <div class="login-right-wrap">
                <h1>Xác minh Email</h1>
                <p class="account-subtitle">Đặt lại mật khẩu</p>
                <p>Vui lòng kiểm tra Email để xác nhận đặt lại mật khẩu.</p>
                <div class="form-group mb-0">
                    <a class="btn btn-dark btn-block" asp-page="./Login">Đăng Nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

