@model GiangVien

<div class="modal-header">
    <h5 class="modal-title">Thông Tin</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> Mã Giảng Viên :</div>
        <div class="col-sm-8 mb-4"><span id="Id"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bolder"> Họ Tên :</div>
        <div class="col-sm-8 mb-4"><span id="Name"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Điện Thoại :</div>
        <div class="col-sm-8 mb-4"><span id="Phone"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Email :</div>
        <div class="col-sm-8 mb-4"><span id="Mail"></span></div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4 mb-4 fw-bold"> Khoa :</div>
        <div class="col-sm-8 mb-4"><span id="Khoa"></span></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
</div>